%b= "Forecast #{city}"

%a.pull-right(href='/') Back to Main Page
%hr

- city_weather['list'].each do |city|
  %div.row.pull-left.panel.panel-primary
    %div.col-md-12.portfolio-item
      Time
      = Time.at(city['dt'])
      |
      %a(href="widget/#{city_weather['city']['id']}/#{city['dt']}") Details
      %img(src="http://openweathermap.org/img/w/#{city['weather'][0]['icon']}.png")
      %br
      Min
      = city['main']['temp_min']
      Max
      = city['main']['temp_max']
      Humidity
      = city['main']['humidity']
      %br
      = city['weather'][0]['main']
      = city['weather'][0]['description']
