- unless @city == ''
  .row
    .col-sm-12
      .page-header
        %h1.text-capitalize!= "#{@city}, <small>#{@country}</small>"
      - unless @city_weather == {}
        .row.pull-left
          - @city_weather['list'].each do |city|
            .col-md-3.panel.panel-default
              %h4.pull-right= Time.at(city['dt']).strftime("%m/%d/%Y at %I:%M%p")
              %img.pull-left(src="http://openweathermap.org/img/w/#{city['weather'][0]['icon']}.png")
              %hr
              %br
              %h3= "<small>Min</small> #{city['main']['temp_min']} <small>Max</small> #{city['main']['temp_max']}"
              %h3= "<small>Humidity</small> #{city['main']['humidity']}"
              %h3= "#{city['weather'][0]['main']} <small>#{city['weather'][0]['description']}</small>"
              %a.pull-right(href="widget/#{city_weather['city']['id']}/#{city['dt']}") Details
